@import "./colors/variables.scss";

.pasbtn {
  background-color: $pasbtn;
  border-color: $white;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.pasbtn:hover {
  background-color: rgb(135, 129, 0);
}

.cajaco {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
