// variables.scss

$back-pass: #5100a2;
$backgorund-btn: #259503;
$backhover-btn: #046f00;
$blue: #007bff;
$border-pass: #212529;
$button-color: #ac019e;
$button-hover: #910196;
$color-background: #f9f9f9;
$color-border: #ccc;
$color-highlight: #007bff;
$color-text: #333;
$hover-pass: #3c0364;
$hover-reg: #046f00;
$hoverbtn: #0056b3;
$login-hover: #0056b3;
$pasbtn: #b8a901;
$red: rgb(227, 0, 0);
$reg-back: #259503;
$white: #ffffff;
